@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0; /* Remove margin from all elements */
  padding: 0; /* Remove padding from all elements */
}

/* Hero CSS */
.bgimage {
  background-image: url("../public/assets/home-hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image{
  background-image: url("./assets/bgimage-one.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-tokenomics-image{
  background-image: url("./assets/tokenomics-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-custom-one {
  background: linear-gradient(355.36deg, #012021 0.55%, #004B4C 113.27%);
  /* border: 1px solid; */
  /* border-image-source: linear-gradient(357.41deg, #38DCC8 10.8%, #666666 115.24%); */
}


.border-custom {
  border: 2.07px solid;
  border-image-source: linear-gradient(
    161.06deg,
    rgba(56, 220, 200, 0) 13.7%,
    rgba(56, 220, 200, 0.4) 27.55%,
    #02695d 36.4%,
    #38dcc8 53.88%,
    rgba(56, 220, 200, 0) 89.18%
  );
}

.custom-shadow {
  box-shadow: 0px 2.76px 17.24px 0px #0000001a;

  backdrop-filter: blur(56.66706848144531px);

  box-shadow: 1.53px -1.53px 15.23px 0px #d6d6d62b inset;
}
