@tailwind base;
@tailwind components;
@tailwind utilities;


.bgimage{
    background-image: url('../public/assets/home-hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

